In [1]:
import pandas as pd

df = pd.read_csv("dirty_cafe_sales.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [2]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [3]:
missing_values = df.isnull().sum()
missing_values

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [4]:
# Check missing values percentage
missing_values = df.isnull().sum() / len(df) * 100
print(missing_values)

Transaction ID       0.00
Item                 3.33
Quantity             1.38
Price Per Unit       1.79
Total Spent          1.73
Payment Method      25.79
Location            32.65
Transaction Date     1.59
dtype: float64

In [5]:
# Fill missing 'Item' with 'Unknown'
df['Item'] = df['Item'].fillna('Unknown')

In [6]:
# Convert numeric columns and fill NaNs with 0
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce').fillna(0)
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce').fillna(0)
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce').fillna(0)

In [7]:
# Fill 'Payment Method' & 'Location' with 'Unknown'
df['Payment Method'].fillna('Unknown')
df['Location'].fillna('Unknown')

0       Takeaway
1       In-store
2       In-store
3        UNKNOWN
4       In-store
          ...
9995     UNKNOWN
9996     Unknown
9997     Unknown
9998     Unknown
9999    In-store
Name: Location, Length: 10000, dtype: object

In [8]:
# Convert 'Transaction Date' to datetime and fill NaNs with a placeholder date
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce').fillna(pd.Timestamp('2000-01-01'))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  float64
 3   Price Per Unit    10000 non-null  float64
 4   Total Spent       10000 non-null  float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

In [10]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,0.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [11]:
# Strip extra spaces & standardize case for object columns
df['Item'] = df['Item'].str.strip().str.title()
df['Payment Method'] = df['Payment Method'].str.strip().str.title()
df['Location'] = df['Location'].str.strip().str.title()

In [12]:
df[['Item', 'Payment Method', 'Location']].head(10)

       Item  Payment Method  Location
0    Coffee     Credit Card  Takeaway
1      Cake            Cash  In-Store
2    Cookie     Credit Card  In-Store
3     Salad         Unknown   Unknown
4    Coffee  Digital Wallet  In-Store
5  Smoothie     Credit Card       NaN
6   Unknown           Error  Takeaway
7  Sandwich            Cash   Unknown
8   Unknown             NaN  Takeaway
9  Sandwich             NaN  In-Store

In [13]:
# Check for invalid values
print("Negative Quantities:", (df['Quantity'] < 0).sum())
print("Negative Prices:", (df['Price Per Unit'] < 0).sum())
print("Negative Totals:", (df['Total Spent'] < 0).sum())

Negative Quantities: 0
Negative Prices: 0
Negative Totals: 0

In [14]:
# Check for zero prices where quantity > 0
print("Zero Price with Quantity > 0:", ((df['Price Per Unit'] == 0) & (df['Quantity'] > 0)).sum())

Zero Price with Quantity > 0: 515

In [15]:
# Show transactions where price is zero but quantity is greater than zero
df[df['Price Per Unit'] == 0].head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
56,TXN_3578141,Cake,5.0,0.0,15.0,NaN,Takeaway,2023-06-27
65,TXN_4987129,Sandwich,3.0,0.0,0.0,NaN,In-Store,2023-10-20
68,TXN_8427104,Salad,2.0,0.0,10.0,NaN,In-Store,2023-10-27
85,TXN_8035512,Tea,3.0,0.0,4.5,Cash,Unknown,2023-10-29
104,TXN_7447872,Juice,2.0,0.0,6.0,NaN,NaN,2000-01-01
118,TXN_4633784,Error,5.0,0.0,15.0,NaN,In-Store,2023-02-06
140,TXN_2484241,Cake,3.0,0.0,9.0,Digital Wallet,NaN,2023-07-19
147,TXN_9336980,Salad,4.0,0.0,20.0,Cash,In-Store,2023-06-06
151,TXN_4031509,Unknown,4.0,0.0,16.0,Credit Card,Takeaway,2023-01-04
161,TXN_7965998,Juice,1.0,0.0,3.0,Credit Card,In-Store,2023-11-02

In [16]:
print((df['Total Spent'] == 0).sum())

502

In [17]:
# Remove rows where price is zero but quantity > 0
df = df[~((df['Price Per Unit'] == 0) & (df['Quantity'] > 0))]

# Confirm removal
print("Remaining rows:", len(df))

Remaining rows: 9485

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9485 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9485 non-null   object
 1   Item              9485 non-null   object
 2   Quantity          9485 non-null   float64
 3   Price Per Unit    9485 non-null   float64
 4   Total Spent       9485 non-null   float64
 5   Payment Method    7043 non-null   object
 6   Location          6388 non-null   object
 7   Transaction Date  9485 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 666.9+ KB

In [19]:
print(df['Payment Method'].value_counts())
print(df['Location'].value_counts())

Payment Method
Digital Wallet    2177
Credit Card       2151
Cash              2147
Error              288
Unknown            280
Name: count, dtype: int64
Location
In-Store    2870
Takeaway    2863
Error        341
Unknown      314
Name: count, dtype: int64

In [20]:
# Replace "Error" with mode 
df['Payment Method'].replace("Error", df['Payment Method'].mode()[0])
df['Location'].replace("Error", df['Location'].mode()[0])

# Verify changes
print(df['Payment Method'].value_counts())
print(df['Location'].value_counts())

Payment Method
Digital Wallet    2177
Credit Card       2151
Cash              2147
Error              288
Unknown            280
Name: count, dtype: int64
Location
In-Store    2870
Takeaway    2863
Error        341
Unknown      314
Name: count, dtype: int64

In [21]:
df.dropna(subset=['Payment Method', 'Location'], inplace=True)

In [22]:
print(df.isnull().sum())  # Should be all zeros

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [23]:
cleaned_file_path = "cleaned_cafe_sales.csv"
df.to_csv(cleaned_file_path, index=False)
print("Cleaned dataset saved as:", cleaned_file_path)

Cleaned dataset saved as: cleaned_cafe_sales.csv